---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}

      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2>
        <hr />
        {% assign title_shown = true %}
      {% endunless %}

      <ul>
        <li>
          <a href="{{ post.paperurl | default: post.url | relative_url }}">{{ post.title }}</a>{% if post.coauthors %}, with {{ post.coauthors }}{% endif %}{% if post.authors and post.coauthors == nil %}, {{ post.authors }}{% endif %}{% if post.venue %}, <em>{{ post.venue }}</em>{% endif %}{% if post.year %} ({{ post.year }}){% endif %}{% if post.article_number %} {{ post.article_number }}{% endif %}.
          {% if post.presentations %}
            <em>Presentations:</em> {{ post.presentations }}.
          {% endif %}
        </li>
      </ul>

    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <ul>
      <li>
        <a href="{{ post.paperurl | default: post.url | relative_url }}">{{ post.title }}</a>{% if post.coauthors %}, with {{ post.coauthors }}{% endif %}{% if post.authors and post.coauthors == nil %}, {{ post.authors }}{% endif %}{% if post.venue %}, <em>{{ post.venue }}</em>{% endif %}{% if post.year %} ({{ post.year }}){% endif %}{% if post.article_number %} {{ post.article_number }}{% endif %}.
        {% if post.presentations %}
          <em>Presentations:</em> {{ post.presentations }}.
        {% endif %}
      </li>
    </ul>
  {% endfor %}
{% endif %}










<!-- ---
layout: archive
title: ""
permalink: /publications/
author_profile: true
--- -->

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<!-- {% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



