---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}

      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2>
        <hr />
        {% assign title_shown = true %}
      {% endunless %}

      <ul>
  <li>
    <a href="{{ post.paperurl | default: post.url | relative_url }}">{{ post.title }}</a>{% if post.coauthors != blank %}, with {{ post.coauthors }}{% elsif post.authors != blank %}, {{ post.authors }}{% endif %}{% if post.venue %}, <em>{{ post.venue }}</em>{% endif %}{% if post.year %} ({{ post.year }}){% endif %}{% if post.article_number %} {{ post.article_number }}{% endif %}.
    {% if post.presentations %}
      <em>Presentations:</em> {{ post.presentations }}.
    {% endif %}
  </li>
</ul>

{% endfor %}
{% endfor %}
{% else %}
{% for post in site.publications reversed %}
<ul>
  <li>
    <a href="{{ post.paperurl | default: post.url | relative_url }}">{{ post.title }}</a>{% if post.coauthors != blank %}, with {{ post.coauthors }}{% elsif post.authors != blank %}, {{ post.authors }}{% endif %}{% if post.venue %}, <em>{{ post.venue }}</em>{% endif %}{% if post.year %} ({{ post.year }}){% endif %}{% if post.article_number %} {{ post.article_number }}{% endif %}.
    {% if post.presentations %}
      <em>Presentations:</em> {{ post.presentations }}.
    {% endif %}
  </li>
</ul>
{% endfor %}
{% endif %}














