---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->


<h3>New Mexico Tech, Socorro, NM
  <small>(2022–present)</small>
</h3>

<div style="line-height: 1.6; font-size: 0.9em;">
  <p style="margin-bottom: 10px;">
    ECON 4089/EMGT 5089-02D <i>Managerial Economics (Cross-listed as graduate and undergraduate)</i> (Spring 2023-2025)
  </p>

  <p style="margin-bottom: 2px;">
    EMGT 5089-01D <i>Supply Chain Management (Graduate level)</i> (Spring 2023-2024)
  </p>

  <p style="margin-bottom: 2px;">
    EMGT 5001 <i>Management Science for Engineering Management (Graduate level)</i> (Fall 2022-2025)
  </p>

  <p style="margin-bottom: 2px;">
    MGMT 4072 <i>Production and Operations Management (Senior undergraduate)</i> (Fall 2023-2025)
  </p>

  <p style="margin-bottom: 2px;">
    ECON 2110 <i>Macroeconomic Principles</i> (Spring 2025)
  </p>
</div>
